@model CrazyBasketball.Models.Season

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Season</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InitalYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InitalYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinishYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinishYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
